﻿@model DeliverIT.Web.Models.ViewModels.LoginViewModel

@{ ViewData["Title"] = "Login"; }

@section Styles{
    <link rel="stylesheet" href="/css/login.css" />
}
<div class="login">
    <div class="login-wrap">
        <div class="login-html">

            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>

            <div class="login-form">
                <form asp-action="Login" class="sign-in-htm">
                    <div class="group">
                        <label asp-for="Email" class="label">Email Address</label>
                        <span asp-validation-for="Email" class="form-error"></span>
                        <input asp-for="Email" id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label asp-for="Password" class="label">Password</label>
                        <span asp-validation-for="Password" class="form-error"></span>
                        <input asp-for="Password" id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Login">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a class="nav-item" asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img class="loginimg" src="~/css/Images/Login.png" height="500" />
</div>