﻿@model DeliverIT.Web.Models.ViewModels.CustomerViewModel


@{ ViewData["Title"] = "Register"; }

@section Styles{
    <link rel="stylesheet" href="/css/login.css" />
}

<div class="register">
    <div class="login-wrap" style="min-height:1000px; margin: 20px auto 0 auto">
        <div class="login-html">

            <input id="tab-1" type="radio" name="tab" class="sign-in">
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <form asp-action="Register" class="sign-up-htm">
                    <div class="group">
                        <label asp-for="FirstName" class="label">First Name</label>
                        <span asp-validation-for="FirstName" class="form-error"></span>
                        <input asp-for="FirstName" id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label asp-for="LastName" class="label">Last Name</label>
                        <span asp-validation-for="LastName" class="form-error"></span>
                        <input asp-for="LastName" id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label asp-for="Email" class="label">Email Address</label>
                        <span asp-validation-for="Email" class="form-error"></span>
                        <input asp-for="Email" id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label asp-for="Street" class="label">Street</label>
                        <span asp-validation-for="Street" class="form-error"></span>
                        <input asp-for="Street" id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <label class="label">City</label>
                        <select asp-for="CityId" asp-items="Model.Cities" class="input form-error"></select>
                        <span asp-validation-for="CityId"></span>
                    </div>
                    <div class="group">
                        <label class="label">Country</label>
                        <select asp-for="CountryId" asp-items="Model.Countries" class="input form-error"></select>
                        <span asp-validation-for="CountryId"></span>
                    </div>

                    <div class="group">
                        <label asp-for="Password" class="label">Password</label>
                        <span asp-validation-for="Password" class="form-error"></span>
                        <input asp-for="Password" id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label asp-for="ConfirmPassword" class="label">Repeat Password</label>
                        <span asp-validation-for="ConfirmPassword" class="form-error"></span>
                        <input asp-for="ConfirmPassword" id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Register">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a class="nav-item" asp-controller="Account" asp-action="Login">Sign In</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <img class="loginimg" src="~/css/Images/Login.png" height="500" />

</div>
