﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["UserRole"] = this.Context.Session.GetString("UserRole");
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DeliverIT - @ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/lib/dist/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

    @RenderSection("Styles", false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/css/Images/deliverit_whiteAndOrange.png" img height="30" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a asp-controller="Warehouse" asp-action="Index" class="nav-link">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Pricing" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                        </li>
                        @if ((bool)ViewData["IsAuthenticated"])
                        {
                            if (ViewData["UserRole"].Equals("Employee"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Management</a>
                                    <div class="dropdown-menu">
                                        <a asp-controller="Admin" asp-action="Index" class="dropdown-item">Admin Panel</a>
                                        <div class="dropdown-divider"></div>
                                        <a asp-controller="Parcel" asp-action="Index" class="dropdown-item">Parcels</a>
                                        <a asp-controller="Shipment" asp-action="Index" class="dropdown-item">Shipments</a>
                                        <a asp-controller="Warehouse" asp-action="Index" class="dropdown-item">Locations</a>
                                        <a asp-controller="Admin" asp-action="Customers" class="dropdown-item">Customers</a>
                                        <a asp-controller="Admin" asp-action="Employees" class="dropdown-item">Employees</a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu">
                                        <a asp-controller="Customer" asp-action="Index" class="dropdown-item">My information</a>
                                        <div class="dropdown-divider"></div>
                                        <a asp-controller="Customer" asp-action="IncomingParcels" class="dropdown-item">Incoming Parcels</a>
                                        <a asp-controller="Customer" asp-action="PastParcels" class="dropdown-item">Past Parcels</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>

                    <ul class="navbar-nav ms-md-auto">
                        <li>
                            @if ((bool)ViewData["IsAuthenticated"])
                            {
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>
    <footer class="card-footer">
        <div class="container centered">
            <div class="grid-item">&copy; @DateTime.Now.Year - DeliverIT - Mihail Matov & Miroslav Petrov - <a class="orange" asp-controller="Home" asp-action="About">About</a> - <a class="orange" href="#top">Back to top</a></div>
            <span style="padding: 10px">  Phone: +359 885 555 5555</span>
            <span>  Email: info@deliverit.com</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>

</body>
</html>