﻿
<div style="display: flex;
          justify-content: center;">
    <img src="~/css/Images/Error404.png" style="height:500px" img />
</div>

<div class="centered">
    <p>
        Seems like we have ran into a problem! <br />   
        Go back to <a asp-controller="Home" asp-action="Index" class="orange">Home</a>
    </p>
</div>
