﻿
<div class="centered" style="margin-top:30px">
    <h2>
        ACCESS DENIED <br />
    </h2>
</div>
<div style="display: flex;
          justify-content: center;">
    <img src="~/css/Images/AccessDenied.png" style="height:500px" img />
</div>

<div class="centered">
    <p>
        You don't have permission to view this page. <br />
        Go back to <a asp-controller="Home" asp-action="Index" class="orange">Home</a>
    </p>
</div>