﻿@model IEnumerable<DeliverIT.Services.DTOs.CustomerDto>

@{ ViewData["Title"] = "Customers"; }
<div class="locationsheader">
    <h2 style="margin-top:20px">Customers</h2>
    <hr class="solid">
</div>

<table class="table table-hover" width="500px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in this.Model)
        {
        <tr>
            <th scope="row">@user.CustomerId</th>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@user.Address</td>
            <td>
                <button type="button" class="btn btn-secondary rounded">
                    <a asp-controller="Customer" asp-action="Details" asp-route-id="@user.CustomerId" class="button">Details</a>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
