﻿@model IEnumerable<DeliverIT.Services.DTOs.EmployeeDto>

@{ ViewData["Title"] = "Employees"; }

<div class="locationsheader">
    <h2 style="margin-top:20px">Employees</h2>
    <hr class="solid">
</div>

<table class="table table-hover" width="500px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in this.Model)
        {
            <tr>
                <th scope="row">@user.EmployeeId</th>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Address</td> 
            </tr>
        }
    </tbody>
</table>
