﻿@model IEnumerable<DeliverIT.Services.DTOs.ShipmentDto>


<div class="admingrid">
    <div id="welcometext" class="locationsheader">
        <span class="personalinfo-text">Welcome admin,  @ViewData["EmployeeName"]</span>
        <hr class="solid">
    </div>
    

    <div class="centered box" style="padding-top: 20px;">
        <span>Create a new employee >>  </span>
        <button type="button" class="btn btn-secondary rounded">
            <a asp-controller="Admin" asp-action="Create" class="button">Create</a>
        </button>
    </div>
    <div class="centered box" style="padding-top: 20px;">
        <span>Edit current profile>>  </span>
        <button type="button" class="btn btn-secondary rounded">
            <a asp-controller="Admin" asp-action="Edit" asp-route-id="@ViewData["UserId"]" class="button">Edit</a>
        </button>
    </div>

    <div id="search1" class="centered">
        <span> Search for customer: </span>
        <form asp-controller="Admin" asp-action="SearchCustomer" class="d-flex">
            <input class="form-control me-sm-2" type="text" name="searchword" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="upcoming centered">

        <span> Upcoming shipment </span>
        <form asp-controller="Admin" asp-action="UpcomingShipment" class="d-flex">
            <input class="form-control me-sm-2" type="number" name="warehouseId" placeholder="Warehouse Id">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="allshipmentsinwarehouse">
        @if (this.Model.Count() != 0)
        {
            <table class="table table-hover" width="500px">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Origin</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Status</th>
                        <th scope="col">Arrival Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var shipments in this.Model)
                        {
                            <tr>
                                <th scope="row">@shipments.ShipmentId</th>
                                <td>@shipments.Origin</td>
                                <td>@shipments.Destination</td>
                                <td>@shipments.Status</td>
                                <td>@shipments.ArrivalDate</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <span class="smalltext"> *This table represents all the shipments in the warehouse you are working in!</span>
        }
        else
        {
            <span> Currently there are no shipments that need managing in your Warehouse!!!</span>

        }

    </div>

</div>


