﻿@model DeliverIT.Web.Models.ViewModels.ShipmentViewModel
@using DeliverIT.Models

<div style="margin-top: 20px" class="locationsheader">
    <h2>Create</h2>
    <hr class="solid">
</div>
<form asp-action="Create" method="post">
    <fieldset>
        <div style="display: flex; justify-content: space-between;" class="form-group">
            <div>
                <label for="start">Departure Date:</label>
                <br />
                <input asp-for="DepartureDate" type="date" id="start" name="DepartureDate"
                       value="@DateTime.Now.ToString("yyyy-MM-dd")"
                       min="@DateTime.Now" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")">
            </div>

            <div>
                <label for="start">Arrival Date:</label>
                <br />
                <input asp-for="ArrivalDate" type="date" id="start" name="ArrivalDate"
                       value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")"
                       min="@Model.DepartureDate.AddDays(1)" placeholder="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleSelect2" class="form-label mt-4">Origin warehouse:</label>
            <select asp-for="OriginId" asp-items="Model.OriginWarehouse" class="form-select" id="exampleSelect2">
            </select>
            <span asp-validation-for="OriginId"></span>
        </div>
        <div class="form-group">
            <label for="exampleSelect2" class="form-label mt-4">Warehouse to ship to:</label>
            <select asp-for="DestinationId" asp-items="Model.DestinationWarehouse" multiple="" class="form-select" id="exampleSelect2">
            </select>
            <span asp-validation-for="DestinationId"></span>
        </div>
        <span style="font-size: 10px;">* You can selelect more than one parcel using CTRL</span>
        <fieldset class="form-group">
            <legend class="mt-4">Status options</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="Status" id="optionsRadios1" value="@Status.Preparing" checked="">
                    Preparing
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="Status" id="optionsRadios2" value="@Status.OnTheWay">
                    On The Way
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="Status" id="optionsRadios2" value="@Status.Completed">
                    Completed
                </label>
            </div>
        </fieldset>
        <button id="editbutton" type="submit" class="btn btn-primary rounded submit">Submit</button>
    </fieldset>
</form>
<script>
    $('.listbox').multiselect({
        includeSelectAllOption: true
    });
</script>

