﻿@model IEnumerable<DeliverIT.Services.DTOs.ShipmentDto>


<div style="margin-top: 20px" class="locationsheader">
    <h2>Shipments</h2>

    <span>Create a new shipment >>  </span>
    <button type="button" class="btn btn-secondary rounded">
        <a asp-controller="Shipment" asp-action="Create" class="button">Create</a>
    </button>

    <hr class="solid">
</div>

@if (this.Model.Count() != 0)
{
    <table class="table table-hover" width="500px">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Arrival Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var shipment in this.Model)
                {
                    <tr>
                        <th name="parcelId" scope="row">@shipment.ShipmentId</th>
                        <td>@shipment.Origin</td>
                        <td>@shipment.Destination</td>
                        <td>@shipment.DepartureDate</td>
                        <td>@shipment.ArrivalDate</td>
                        <td>@shipment.Status</td>
                        <td>
                            <button type="button" class="btn btn-secondary rounded">
                                <a asp-controller="Shipment" asp-action="Edit" asp-route-id="@shipment.ShipmentId" class="button">Edit</a>
                            </button>
                        </td>

                        <td>
                            <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal-@shipment.ShipmentId">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <div class="modal" id="exampleModal-@shipment.ShipmentId">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this shipment?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">
                                        <a asp-controller="Shipment" asp-action="DeleteConfirmed" asp-route-id="@shipment.ShipmentId" class="button">Yes</a>
                                    </button>
                                    <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>

    <div class="smalltext">
        <p>
            This table displays all the shipments that are currently in the system!
        </p>
    </div>
}
else
{
    <p> There are not any shipments to be displayed at this moment!</p>
}
