﻿@model DeliverIT.Services.DTOs.ShipmentDto

    <div style="margin-top: 20px" class="locationsheader">
        <h2>Upcoming shipment</h2>
        <hr class="solid">
    </div>

<table class="table table-hover" width="500px">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Arrival Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @{
            <tr>
                <th name="parcelId" scope="row">@Model.ShipmentId</th>
                <td>@Model.Origin</td>
                <td>@Model.Destination</td>
                <td>@Model.DepartureDate</td>
                <td>@Model.ArrivalDate</td>
                <td>@Model.Status</td>
            </tr>
        }

    </tbody>

</table>