﻿@model DeliverIT.Web.Models.ViewModels.CustomerViewModel

@{ ViewData["Title"] = "Customer Information"; }
<div style="padding-top:20px;padding-bottom:20px" class="locationsheader">
    <h2>Customer Information</h2>
    <hr class="solid">
</div>
<div class="customeracc">
    <div class="personalinfo accinfo">
        <div>
            <h3 class="personalinfo-text">Customer ID: @this.Model.CustomerId</h3>
        </div>
        <div>
            <h3 class="personalinfo-text">Name:</h3>
            <span class="centered">  @this.Model.FirstName @this.Model.LastName</span>
        </div>

        <div>
            <h3 class="personalinfo-text">E-mail:</h3>
            <span class="centered">  @this.Model.Email </span>
        </div>

        <div>
            <h3 class="personalinfo-text">Address:</h3>
            <span class="centered">  @this.Model.Address</span>
        </div>
    </div>

    <div class="acctable">
        @if (this.Model.CustomerParcels.Count() != 0)
        {
            <table class="table table-hover" width="500px">

                <thead>
                    <tr>
                        <th scope="col">Parcel Id</th>
                        <th scope="col">Category</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Shipment ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Arrival Date</th>
                        <th scope="col">Delivery</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>


                <tbody>
                    @{
                        foreach (var parcel in this.Model.CustomerParcels)
                        {
                            <tr>
                                <th name="parcelId" scope="row">@parcel.ParcelId</th>
                                <td>@parcel.Category</td>
                                <td>@parcel.Weight</td>
                                <td>@parcel.ShipmentID</td>
                                <td>@parcel.Status</td>
                                <td>@parcel.ArrivalDate</td>
                                <td>@parcel.Delivery</td>
                                <td>
                                    <button type="button" class="btn btn-secondary rounded">
                                        <a asp-controller="Parcel" asp-action="Edit" asp-route-id="@parcel.ParcelId" class="button">Edit</a>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal-@parcel.ParcelId">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <div class="modal" id="exampleModal-@parcel.ParcelId">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this parcel?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">
                                                <a asp-controller="Parcel" asp-action="DeleteConfirmed" asp-route-id="@parcel.ParcelId" class="button">Yes</a>
                                            </button>
                                            <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </tbody>
            </table>

            <div class="smalltext">
                <p>
                    This table represents all the parcels that are currently in the available to be processed!
                </p>
            </div>
        }
        else
        {
            <div class="message centered">
                <p> There are not any parcels to be displayed at this moment!</p>
            </div>
        }
    </div>
</div>


