﻿@model DeliverIT.Web.Models.ViewModels.CustomerViewModel

    <div style="margin-top: 20px" class="locationsheader">
        <h2>My Account</h2>
        <hr class="solid">
    </div>

    <form class="accountedit" asp-action="Edit">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label mt-4">First Name</label>
            <span asp-validation-for="FirstName" class="form-error"></span>
            <input asp-for="FirstName" id="pass" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-label mt-4">Last Name</label>
            <span asp-validation-for="LastName" class="form-error"></span>
            <input asp-for="LastName" id="pass" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-label mt-4">Email Address</label>
            <span asp-validation-for="Email" class="form-error"></span>
            <input asp-for="Email" id="pass" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Street" class="form-label mt-4">Street</label>
            <span asp-validation-for="Street" class="form-error"></span>
            <input asp-for="Street" id="pass" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-label mt-4">City</label>
            <select asp-for="CityId" asp-items="Model.Cities" class="input form-select form-error"></select>
            <span asp-validation-for="CityId"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Country</label>
            <select asp-for="CountryId" asp-items="Model.Countries" class="input form-select form-error"></select>
            <span asp-validation-for="CountryId"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label mt-4">Password</label>
            <span asp-validation-for="Password" class="form-error"></span>
            <input asp-for="Password" id="pass" type="password" class="form-control" data-type="password">
        </div>
        <div  style="margin-bottom: 2rem;" class="form-group">
            <label asp-for="ConfirmPassword" class="form-label mt-4">Repeat Password</label>
            <span asp-validation-for="ConfirmPassword" class="form-error"></span>
            <input asp-for="ConfirmPassword" id="pass" type="password" class="form-control" data-type="password">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary rounded submit" value="Save Changes">
        </div>
    </form>
    