﻿@model DeliverIT.Web.Models.ViewModels.CustomerViewModel

@{ ViewData["Title"] = "Personal info"; }
<div style="padding-top:20px;padding-bottom:20px" class="locationsheader">
    <div style="display: flex;justify-content: center; align-items: center">
        <h2>Personal Information</h2>
        <button style="margin-left: 2rem;" type="button" class="btn btn-secondary rounded">
            <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId" class="button">Edit</a>
        </button>
    </div>
    <hr class="solid">
</div>

<div class="personalinfo">

    <div >
        <h3 class="personalinfo-text">Name: </h3> 
        <span class="centered">  @this.Model.FirstName @this.Model.LastName</span>
    </div>

    <div>
        <h3 class="personalinfo-text">E-mail: </h3>
        <span class="centered"> @this.Model.Email </span>
    </div>

    <div>
        <h3 class="personalinfo-text">Address: </h3>
        <span class="centered"> @this.Model.Address</span>
    </div>
    
</div>
