﻿@model IEnumerable<DeliverIT.Services.DTOs.ParcelDto>
@{ ViewData["Title"] = "My Parcels"; }
@{ if (ViewData["MethodName"] == "Incoming")
    {
        <h2 style="margin-top:20px" class="locationsheader">Incoming parcels</h2>
    }
    else
    {
        <h2 style="margin-top:20px" class="locationsheader">Past parcels</h2>
    }
}
<hr class="solid">
<table class="table table-hover" width="500px">
    @if (this.Model.Count() != 0)
    {
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Category</th>
                <th scope="col">Weight</th>
                <th scope="col">Status</th>
                <th scope="col">Arrival Date</th>
                <th scope="col">Shipment ID</th>
                <th scope="col">Delivery</th>
                @if (ViewData["MethodName"] == "Incoming")
                {
                    <th scope="col"></th>
                }
            </tr>
        </thead>
    }
    else
    {
<div class="message" centered>
    <p> There are not any parcels to be displayed at this moment!</p>
</div>
    }
    <tbody>
        @{
            foreach (var parcel in this.Model)
            {
                <tr>
                    <th name="parcelId" scope="row">@parcel.ParcelId</th>
                    <td>@parcel.Category</td>
                    <td>@parcel.Weight</td>
                    <td>@parcel.Status</td>
                    <td>@parcel.ArrivalDate</td>
                    <td>@parcel.ShipmentID</td>
                    <td>@parcel.Delivery</td>
                    @if (ViewData["MethodName"] == "Incoming")
                    {
                        <td><button type="button" class="btn btn-primary rounded"><a asp-controller="Customer" asp-action="ChangeDeliveryStatus" asp-route-parcelId="@parcel.ParcelId" class="button  white">Change Delivery</a></button></td>
                    }
                </tr>

            }
        }
    </tbody>
</table>
