﻿@{ ViewData["Title"] = "About"; }


<h2 id="about">About us</h2>
<hr class="solid">
<div id="about" class="container">
    <div id="explanation" style="margin:20px">

        <span class="lead">
            Dear customers,<br /><br />

            Imagine looking at something online and the seller doesn't deliver to your country<br />
            Here is where we come in to make shopping more accessible.
            Our company delivers to most countries and we are looking forward to expanding even more!!!<br />
            Call us if you need any help with arranging the delivery<br />
            <br />
        </span>
    </div>


    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="600" height="445" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%9F%D0%BE%D1%89%D0%B5%D0%BD%D1%81%D0%BA%D0%B8%20%D0%BA%D0%BB%D0%BE%D0%BD%201303&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
        </div>
    </div>

    <div id="contacts">
        <span class="lead">
            <span class="purple">Phone number:</span><span class="contactinfo">
                +359 885 555 5555
            </span><br />
            <span class="purple">
                Email:
            </span> <span class="contactinfo">info@deliverit.com</span>

            <br />

            Here you can find our latest office in Sofia, Bulgaria!
            <br />
            <span class="purple">
                Work times (GMT):
            </span> <br />
            Mon-Fri from 8:00 to 19:00
            <br />
            Saturday  10:00 to 18:00
            <br />
        </span>
    </div>
    <span class="warning">
        DISCLAIMER!!! This is a fake project for Telerik Academy!
    </span>
</div>
