﻿@{ ViewData["Title"] = "Home"; }

<div style="display: flex;
          justify-content: center;">
    <img src="~/css/Images/FooterPhoto.jpg" img />
</div>
<div style="display:flex; justify-content: center; margin:20px">
    <div>

        <h3>Who are we?</h3>

        <h2>We are DeliverIT!</h2>

        <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
        t labore et dolore magna aliqua. Vulputate sapien nec sagittis aliquam malesuada bibendum. Ante 
        in nibh mauris cursus mattis molestie a iaculis. Purus in massa tempor nec feugiat nisl pretium fu
        sce. Mollis aliquam ut porttitor leo a. Massa id neque aliquam vestibulum morbi. Quis auctor elit s
        ed vulputate mi sit amet. Enim sit amet venenatis urna. Dictum at tempor commodo ullamcorper a lacus 
        vestibulum sed arcu. Ante in nibh mauris cursus mattis. Facilisi etiam dignissim diam quis enim lobort
        is scelerisque fermentum. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Feugiat ni
        bh sed pulvinar proin gravida. Ullamcorper sit amet risus nullam eget felis eget nunc.
        </p><br />

        <h4 id="customers-count">We also have @this.ViewData["UserCount"] user and counting !</h4>
    </div>
</div>
