﻿



<div class="container">

    <div class="pricingheader">
        <h2 style="margin-top:20px">Pricing</h2>
        <hr class="solid">
    </div>
    <div class="pricegrid">
        <div>
            <div " class="pricinginfo">
                <div>
                    <p>
                        Ordering From Asia<br />
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
                        t labore et dolore magna aliqua.


                        <br />
                    </p>

                </div>

                <div>
                    <p>
                        Ordering From Uk<br />
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
                        t labore et dolore magna aliqua.
                        <br />
                    </p>
                </div>

                <div>
                    <p>
                        Ordering From Europe <br />
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
                        t labore et dolore magna aliqua.
                        <br />
                    </p>
                </div>

                <div>
                    <p>
                        Ordering From Europe <br />
                        <br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt u
                        t labore et dolore magna aliqua.
                        <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="priceimg">
            <img src="/css/Images/Pricing.png" height="500" />
        </div>
    </div>

</div>
