﻿@model DeliverIT.Web.Models.ViewModels.WarehouseViewModel

    <form asp-action=@ViewData["Action"]>
        <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Street:</label>
            <span asp-validation-for="Street"></span>
            <input asp-for="Street" required class="form-control" placeholder="Enter street">

        </div>
            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">City:</label>
                <select  required  asp-for="CityId" asp-items="Model.Cities"  class="form-select" id="exampleSelect1">
                  
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelect1" class="form-label mt-4">Country:</label>
                <select   required  asp-for="CountryId" asp-items="Model.Countries"  class="form-select" id="exampleSelect1">
                </select>
            </div>
          
            <button id="editbutton" type="submit" class="btn btn-primary rounded submit">Submit</button>
        </fieldset>
    </form>

