﻿@{ViewData["Action"] = "Create";}
@model DeliverIT.Web.Models.ViewModels.WarehouseViewModel

    <div style="margin-top: 20px" class="locationsheader">
        <h2>Create</h2>
        <hr class="solid">
    </div>
    <partial name="_WarehouseForm.cshtml" />