﻿@model IEnumerable<DeliverIT.Services.DTOs.WarehouseDto>
@using Microsoft.AspNetCore.Http;
@{ ViewData["Title"] = "Locations"; }
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["UserRole"] = this.Context.Session.GetString("UserRole");
}
<div id="locations" class="container">
    <div class="locationsheader">
        <h2 style="margin-top:20px">Locations</h2>
        @if ((bool)ViewData["IsAuthenticated"])
        {
            @if (ViewData["UserRole"].Equals("Employee"))
            {
                <span>Create a new warehouse >>  </span>
                <button type="button" class="btn btn-secondary rounded">
                    <a asp-controller="Warehouse" asp-action="Create" class="button">Create</a>
                </button>}
        }
        <hr class="solid">
    </div>
    <div class="locationtable">
        <table class="table table-hover" width="500px">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Address</th>
                    @if ((bool)ViewData["IsAuthenticated"])
                    {
                        @if (ViewData["UserRole"].Equals("Employee"))
                        {
                            <th scope="col"></th>
                            <th scope="col"></th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;
                    foreach (var warehouse in this.Model)
                    {
                        <tr>
                            <th scope="row">@warehouse.WarehouseId</th>
                            <td>@warehouse.Address</td>
                            @if ((bool)ViewData["IsAuthenticated"])
                            {
                                @if (ViewData["UserRole"].Equals("Employee"))
                                {
                                    <td>
                                        <button type="button" class="btn btn-secondary rounded">
                                            <a asp-controller="Warehouse" asp-action="Edit" asp-route-id="@warehouse.WarehouseId" class="button">Edit</a>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal-@warehouse.WarehouseId">
                                            Delete
                                        </button>
                                    </td>
                                }
                            }
                        </tr>
                        <div class="modal" id="exampleModal-@warehouse.WarehouseId">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this warehouse?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">
                                            <a asp-controller="Warehouse" asp-action="DeleteConfirmed" asp-route-id="@warehouse.WarehouseId" class="button">Yes</a>
                                        </button>
                                        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="deliverynote">
        <img src="~/css/Images/Locations.png" height="350px"/>
    </div>
    <div class="deliveryinfo">
        <p>
            These are all the available locations that we ship from and to!
            Contact us if you have a buissnes proposal for opening a new location near you!
            We are looking forward to expanding our company!
        </p>
    </div>
</div>