﻿

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    box-shadow: 0 0 20px rgba(0,0,0, 0.3);
}

footer {
    box-shadow: rgba(0,0,0, 0.1) 0 0 10px inset;
    margin-top: auto;
}

.grid-item {
    text-align: center;
}


h4 {
    margin-bottom: 0;
}

#customers-count {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 10px;
    background: linear-gradient(90deg, darkorange, #593196, darkorange);
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}


@keyframes animate {
    0% {
        background-position: 0%;
    }


    100% {
        background-position: 300%;
    }
}

.card-footer {
    width: 100%;
    background-color: rgba(217, 203, 239, 0.5)
}

.nav-link {
    font-weight: 500;
}

a.nav-item:hover {
    color: darkorange;
}

a.orange:hover {
    color: darkorange;
}

.foot-lnk {
    margin-bottom: 30px;
}

div.dropdown-menu.show {
    margin-top: 10px;
}

h2#about {
    margin-top: 20px;
    text-align: center;
}

#about.container {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-column-gap: 2rem;
}
/*map in about*/
div.gmap_canvas {
    margin-top: 3rem;
    margin-right: 5rem;
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 400px;
}

#explanation {
    grid-column-start: 0;
    grid-column-end: 2;
}

div.mapouter {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    float: right;
    text-align: right;
    height: 200px;
    width: 400px;
}

#contacts {
    margin: 20px;
    grid-row-start: 2;
    line-height: 50px;
    text-align: left;
}

.purple {
    color: #593196;
    font-style: oblique;
    font-weight: 700;
}

.warning {
    margin-top: 5rem;
    margin-bottom: 2rem;
    grid-column-end: span 2;
}

span {
    text-align: right;
}

.lead {
    font-weight: 400;
}

/*locations table*/
div#locations {
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 100px 1fr 200px;
    gap: 10px;
    row-gap: 20px;
    grid-column-gap: 2rem;
}

.locationsheader {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.table {
    font-weight: 500;
    grid-row-start: 2;
    grid-column-end: 1;
}


.deliverynote {
    font-size: 19px;
    grid-column-start: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 60px;
}


.deliveryinfo {
    text-wrap: normal;
    font-weight: 400;
    grid-row-start: 3;
    display: flex;
    justify-content: right;
    margin-left: 2rem;
}

.locationtable {
    margin-left: 2rem;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

    .table thead tr {
        background-color: #593196;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .table th,
    .table td {
        padding: 12px 15px;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .table tbody tr:last-of-type {
            border-bottom: 3px solid #593196;
        }

th {
    text-align: center;
}

tr {
    text-align: center;
}

.warehouseid {
    font-size: 18px;
    font-weight: 500;
}

.dropdown-menu.show {
    border-radius: 0 0 5px 5px;
}

#editbutton {
    margin-top: 20px;
}

.rounded {
    border-radius: 5px;
}

.bg-primary {
    background-color: #593196;
}

.flexed {
    display: flex;
    flex-flow: column;
}

.centered {
    margin: auto;
    text-align: center;
}

.pricingheader {
    text-align: center;
}

/*//doesnt render*/
.submit {
    float: right;
    margin-right: 47%;
    margin-bottom: 5vh;
}

.warehouse {
    font-size: 18px;
    font-weight: 400;
}

.white {
    color: white;
    text-decoration: none;
}

    .white:hover {
        color: white;
    }

.personalinfo {
    font-weight: 400;
}

.personalinfo-text {
    padding-top: 20px;
    font-size: 23px;
    font-weight: 600;
    color: #593196;
}

h5 {
    font-size: 25px;
}

.accountedit {
    padding-left: 2rem;
    padding-right: 2rem;
}

/*cool backgorund color #F2EEF5 */
.admingrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 75px 75px 1fr;
}

.welcometext {
    grid-column-start: 1;
    grid-column-end: span 2;
}

#search1 {
    grid-row-start: 3;
}

.allshipmentsinwarehouse {
    grid-row-start: 4;
    grid-column-end: span 2;
}

.smalltext {
    font-size: 12px;
    font-weight: 400;
}

.message {
    margin-top: 2rem;
}

.box {
    background-color: #D9CBEF;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}

.customeracc {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: 1fr;
}

.acctable {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
}


.accinfo {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.pricegrid {
    display: grid;
   grid-template-columns: 1fr 1fr; 
   grid-template-rows: 1fr;
}

.priceimg{
    grid-column-start: 2;
}

.login{
    display: flex;
    margin-top: 5rem;
}

.register {
    display: flex;
    min-height: 1100px;
    margin-bottom: 2rem;
}

.login-wrap{
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.loginimg{
    margin: auto auto auto 7rem;
    justify-content: center;
    align-items: center;
}
.login-html{
    min-width: 455px;
}