﻿@model DeliverIT.Web.Models.ViewModels.ParcelViewModel
<form asp-action=@ViewData["Action"]>
    <fieldset>
        @{
            if (ViewData["Action"] == "Edit")
            {
                <label for="staticEmail" class="col-sm-2 col-form-label centered flexed warehouse">Warehouse ID @Model.WarehouseId</label>
                <input class="visually-hidden" asp-for="WarehouseId" value="@Model.WarehouseId" />
            }
            else
            {
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Warehouse address:</label>
                    <select asp-for="WarehouseId" asp-items="Model.Warehouse" class="form-select" id="exampleSelect1">
                    </select>
                    <span asp-validation-for="WarehouseId"></span>
                </div>
            }
        }

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Weight:  (in kg)</label>
            <span asp-validation-for="Weight" class="form-error"></span>
            <input asp-for="Weight" class="form-control" placeholder="Enter weight">
        </div>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Category:</label>
            <select asp-for="CategoryId" asp-items="Model.Category" class="form-select" id="exampleSelect1">
            </select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        @{
            if (ViewData["Action"] == "Edit")
            {
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Shipping to:</label>
                    <select asp-for="ShipmentId" asp-items="Model.Shipment" class="form-select" id="exampleSelect1">
                        <option value="@null">Don't select shipment</option>
                    </select>
                    <span asp-validation-for="ShipmentId"></span>
                </div>
                } }
            <div class="form-group">
                <label for="exampleSelect2" class="form-label mt-4">Customer:</label>
                <select asp-for="CustomerId" asp-items="Model.Customer" class="form-select" id="exampleSelect2">
                </select>
                <span asp-validation-for="CustomerId"></span>
            </div>
            <fieldset class="form-group">
                <legend class="mt-4">Delivery options</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="HomeDelivery" id="optionsRadios1" value="true" checked="">
                        Home delivery
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="HomeDelivery" id="optionsRadios2" value="false">
                        Pickup from warehouse
                    </label>
                </div>
            </fieldset>
            <button style="text-align: center" id="editbutton" type="submit" class="btn btn-primary rounded submit">Submit</button>
        </fieldset>
    </form>

