﻿@{ViewData["Action"] = "Create";}
@model DeliverIT.Web.Models.ViewModels.ParcelViewModel

<div style="margin-top: 20px" class="locationsheader">
    <h2>Create</h2>
    <hr class="solid">
</div>
<partial name="_ParcelForm.cshtml" />
