﻿@model IEnumerable<DeliverIT.Services.DTOs.ParcelDto>
@{ ViewData["Title"] = "My Parcels"; }
<div class="locationsheader">
    <h2 style="margin-top: 20px">Parcels</h2>
    <span>Create a new parcel >>  </span>
    <button type="button" class="btn btn-secondary rounded">
        <a asp-controller="Parcel" asp-action="Create" class="button">Create</a>
    </button>
    <hr class="solid">
</div>

@if (this.Model.Count() != 0)
{
    <table class="table table-hover" width="500px">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Customer</th>
                <th scope="col">Category</th>
                <th scope="col">Weight</th>
                <th scope="col">Warehouse</th>
                <th scope="col">Status</th>
                <th scope="col">Arrival Date</th>
                <th scope="col">Shipment ID</th>
                <th scope="col">Delivery</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>


        <tbody>
            @{
                foreach (var parcel in this.Model)
                {
                    <tr>
                        <th name="parcelId" scope="row">@parcel.ParcelId</th>
                        <td>@parcel.CustomerName</td>
                        <td>@parcel.Category</td>
                        <td>@parcel.Weight</td>
                        <td>@parcel.Warehouse</td>
                        <td>@parcel.Status</td>
                        <td>@parcel.ArrivalDate</td>
                        <td>@parcel.ShipmentID</td>
                        <td>@parcel.Delivery</td>
                        <td>
                            <button type="button" class="btn btn-secondary rounded">
                                <a asp-controller="Parcel" asp-action="Edit" asp-route-id="@parcel.ParcelId" class="button">Edit</a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal-@parcel.ParcelId">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <div class="modal" id="exampleModal-@parcel.ParcelId">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this parcel?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">
                                        <a asp-controller="Parcel" asp-action="DeleteConfirmed" asp-route-id="@parcel.ParcelId" class="button">Yes</a>
                                    </button>
                                    <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </tbody>
    </table>

    <div class="smalltext">
        <p>
            This table represents all the parcels that are currently in the available to be processed!
        </p>
    </div>
}
else
{
    <p> There are not any parcels to be displayed at this moment!</p>
}

